/* Color Palette: https://flatuicolors.com/palette/es */
:root {
  --green-light: #33d9b2;
  --green-dark: #218c74;
  --red-light: #ff5252;
  --red-dark: #b33939;
  --blue-light: #34ace0;
  --blue-dark: #227093;
  --off-white: #f7f1e3;
  --off-white-dark: #aaa69d;
  --violett-light: #706fd3;
  --violett-dark: #474787;
  --yellow-light: #ffda79;
  --yellow-dark: #ccae62;
  --gray-dark: #84817a;
}

/*** RESOURCES ***/
.rating {
  display: flex;
  align-items: center;
}
.resource-container {
  padding: 1.5rem;
  background-color: #fff;
}
.resource-title {
  display: flex;
  align-items: center;
}
.resource-preview {
  max-height: 16rem;
}
.illustration {
  width: 50%;
  /* height: 20rem; */
}
.star-icon {
  width: 1.67rem;
  height: 1.67rem;
  display: flex;
  justify-content: center;
}
.rating-container {
  display: flex;
  align-items: center;
  width: 300px;
  height: 4vh;
}
.rating-number {
  font-weight: bold;
  margin-left: 0.25rem;
}
.rating-users {
  margin-left: 0.5rem;
}
.star-container {
  cursor: pointer;
}

/****SETTINGS****/
.background-container{
  background: rgb(112, 111, 211);
  /* Gradient created with base colors and https://cssgradient.io/ */
  background: linear-gradient(
    135deg,
    rgba(112, 111, 211, 1) 0%,
    rgba(52, 172, 224, 1) 50%,
    rgba(112, 111, 211, 1) 100%
  );
  background-repeat: repeat-y;
  /* Browser window height - height of menu bar */
  min-height: calc(100vh - 79px);
  padding: 0 10rem;
  display: grid !important;
}
.add-resource {
  width: 30vw;
}
.settings-navbar {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  background-color: var(--violett-light);
}
.settings-navbar a {
  text-decoration: none;
  color: var(--yellow-light);
  font-weight: 500;
  margin: 0.5rem;
}
.settings-navbar img {
  margin: 0 0.5rem;
}

/****UPDATE RESOURCE****/
.update-resource {
  border: 1px solid var(--yellow-dark);
  margin: 2rem;
}
.delete-button {
  align-self: flex-end;
  display: block;
}
/****COMMENT****/
.comment {
  /* border: 1px solid var(--yellow-dark); */
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.comment-image {
  width: 150px;
  height: 150px;
}
.update-comment {
  border: 2px solid var(--yellow-dark);
  width: 50vw;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

/***** ERRROR MSG TO INPUT IN lOGIN AND REGISTER FORM *****/
.errorsMsg {
  color: red;
}

#main_comment_box {
  overflow-y: scroll;
  max-height: 150px;
  width: 450px;
  scroll-behavior: smooth;
}
.resource-box {
  width: 95%;
  margin-top: "20px";
}
@media only screen and (max-width: 600px) {
  .container {
    width: inherit;
    display: grid;
    grid-template-columns: 1fr;
    padding: 5px;
  }
}
