@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;600;700&family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;700&display=swap");
/* Lots of Google Fonts were imported for testing, the ones not used
have to be removed later... */

/* Color Palette: https://flatuicolors.com/palette/es */
:root {
  --green-light: #33d9b2;
  --green-dark: #218c74;
  --red-light: #ff5252;
  --red-dark: #b33939;
  --blue-light: #34ace0;
  --blue-dark: #227093;
  --off-white: #f7f1e3;
  --off-white-dark: #aaa69d;
  --violett-light: #706fd3;
  --violett-dark: #474787;
  --yellow-light: #ffda79;
  --yellow-dark: #ccae62;
}

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* TYPOGRAPHY */

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--off-white);
  color: #181818;
}

h1,
h2,
h3 {
  font-family: "Epilogue", sans-serif;
  font-weight: 600;
}

legend,
label,
input,
select,
option {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

button {
  font-family: "Epilogue", sans-serif;
  font-size: 1rem;
}

/***** HEADER / NAVIGATION *****/

.app-header {
  background-color: var(--violett-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}
.app-header .icon {
  height: 1.67rem;
  margin: 0.5rem 0.5rem -0.5rem 1rem;
}
.app-header h1 {
  padding: 1rem 0;
  font-size: 2.67rem;
}
.app-header h1 a {
  color: var(--off-white);
  text-shadow: 0.2rem 0.2rem 0 var(--violett-dark);
  text-decoration: none;
  font-weight: 600;
}
.app-header nav a {
  color: var(--off-white);
  text-shadow: 0.1rem 0.1rem 0 var(--violett-dark);
  text-decoration: none;
  padding: 1rem 0;
}
/* .searchbar-form {
>>>>>>> 2d60b92ef5ce5bf29a0badefa3c4502b8364093b
  background-color: #ffda79;
  display: flex;
  align-items: center;
} */

/* FORMS -- GENERAL */

legend,
label {
  font-weight: bold;
}

fieldset {
  border: 1px solid var(--yellow-dark);
  padding: 0.5rem;
}

/* FILTER BAR */

.filter-container {
  background-color: #ffda79;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid var(--yellow-dark);
}
.filter-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.search-container {
  border: 0;
}
/***** MAIN CONTENT *****/

.references-container {
  background-color: var(--off-white);
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.pagination {
  grid-column: 1 / span 2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.pagination strong {
  margin: 0 0.25rem;
}
.pagination button {
  margin-top: 0;
}
.pagination button.active {
  margin-top: 0;
  background-color: var(--blue-light);
}

/*** FORMS ***/

main form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.67rem 1.33rem;
}

.filter-form label,
.filter-form legend {
  margin-left: 1rem;
  margin-right: 0.5rem;
}
.filter-form legend {
  display: inline;
}
.filter-form input[type="checkbox"] + label {
  margin-left: 0.25rem;
}

/* MAIN CONTENT */

main h2 {
  margin: 1rem 0 0 1rem;
}

main input {
  min-width: 33ch;
  box-shadow: 0.2rem 0.2rem 0 var(--yellow-dark);
  border: 1px solid var(--yellow-dark);
}
main input:focus {
  border: 1px solid var(--violett-light);
}
main label {
  margin-top: 1.33rem;
  margin-bottom: 0.33rem;
}
main button {
  margin-top: 1.33rem;
}
input {
  padding: 0.5rem;
  border: 1px solid #999;
  border-radius: 0.5rem;
}
button {
  background-color: var(--violett-dark);
  box-shadow: 2px 2px 0 var(--yellow-dark);
  color: #fff;
  font-weight: 500;
  min-width: 10ch;
  padding: 0.75rem 2rem 0.67rem 2rem;
  border-radius: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}
button:hover {
  background-color: var(--violett-light);
  cursor: pointer;
}
/*** RESOURCES ***/
.rating {
  display: flex;
  align-items: center;
}
.resource-container {
  padding: 1.5rem;
  background-color: #fff;
}
.resource-title {
  display: flex;
  align-items: center;
}
.resource-preview {
  max-height: 16rem;
}
.illustration {
  width: 50%;
  /* height: 20rem; */
}
.star-icon {
  width: 1.67rem;
  height: 1.67rem;
}
.rating-container {
  display: flex;
  align-items: center;
}
.rating-number {
  font-weight: bold;
  margin-left: 0.25rem;
}
.rating-users {
  margin-left: 0.5rem;
}
.star-container {
  cursor: pointer;
}

/****UPDATE RESOURCE****/
.update-resource{
  border: 1px solid var(--yellow-dark);
  margin: 2rem;
}

/***** ERRROR MSG TO INPUT IN lOGIN AND REGISTER FORM *****/
.errorsMsg {
  color: red;
}
