/* Color Palette: https://flatuicolors.com/palette/es */
:root {
  --green-light: #33d9b2;
  --green-dark: #218c74;
  --red-light: #ff5252;
  --red-dark: #b33939;
  --blue-light: #34ace0;
  --blue-dark: #227093;
  --off-white: #f7f1e3;
  --off-white-dark: #aaa69d;
  --violett-light: #706fd3;
  --violett-dark: #474787;
  --yellow-light: #ffda79;
  --yellow-dark: #020202;
}

body {
  background-color: var(--off-white);
}
