/* Small text above Search Field */
.intro-text {
  font-size: 1.125rem;
  font-weight: normal;
  margin-top: 1em;
  margin-bottom: 1em;
}
/* The Owl on top of th Search Field */
.logo {
  height: 7rem;
}
.references-container {
  /* HSL value instead of hex code, so I can change the lightness itself,
  without touching the rest of the color */
  background: linear-gradient(
    135deg,
    rgba(112, 111, 211, 1) 0%,
    rgba(52, 172, 224, 1) 50%,
    rgba(112, 111, 211, 1) 100%
  );
}
.references-container .resources-title {
  color: #fff;
}
.references-container button .icon {
  background: rgba(0, 0, 0, 0.16) !important;
  color: #000;
}
.resource-container {
  background-color: #fff;
  border-radius: 1.33rem;
  margin: 0.67rem;
  padding: 1.33rem;
}
