.app-header {
  background-color: var(--yellow-light);
}
.app-header a,
.app-header .dropdown-label {
  color: var(--violett-dark);
  font-weight: 500;
}
.app-header .icon {
  color: rgba(0, 0, 0, 0.8);
}
.app-header .dropdown a .icon {
  /* color: var(--gray-dark); */
}
